<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/DependencyInjectorProperty/src/main/java/com/bridgelabz/spring/TestMain.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.bridgelabz.spring.TestMain"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="DependencyInjectorProperty"/>
</launchConfiguration>
